/* Media query for mobile */

@media screen and (max-width: 1200px) {

    .header__active {
        display: block;
    }

    .header__logo {
        display: block;
    }

    .nav__list-title {
        display: none;
    }

    .nav__list-item {
        display: flex;
        justify-content: center;
    }

    .element__block-input1 {
        
    }

    .element__block-input2 {
        width: 25.8rem;
    }

    .myModal__block {

    }

    .myModal__block-header {
        display: none;
    }

    .close1,
    .close2 {
        display: none;
    }

    .search__inner {
        left: -8px;
    }

    .search__inner::before {

    }

    .search__inner::after {
        top: 169px;
        left: -95px;
    }
}

@media screen and (max-width: 1048px) {
    .wrapper {
        overflow: hidden;
    }

    .header__logo {
        display: none;
    }

    .header__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2.87rem 0 5rem 0;
    }

    .header__main-rules {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2.87rem 0 5rem 0;
    }
    
    .menu__btn {
        display: flex;
        width: 58px;
        height: 24px;
        cursor: pointer;
        position: relative;
        top: 10px;
        z-index: 10;
    }
    
    .menu__btn span {
        width: 40px;
        height: 3px;
        display: block;
        background-color: #000;
        position: absolute;
        left: 25px;
    }
    
    .menu__btn span::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: #000;
        bottom: -10px;
        left: 0px;
    }
    
    .menu__btn span::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: #000;
        top: -10px;
        left: 0px;
    }

    .nav__list {
        position: absolute;
        z-index: 5;
        display: none;
        background: var(--Burnt-Sienna-Linear);
        flex-direction: column;
        height: 100vh;
        padding-top: 150px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        align-items: center;
        transform: translateY(-100%);
        transition: transform .3s ease;
        overflow-y: hidden; 
    }
    
    .nav__list.nav__list--active {
        transform: translateY(0);
    }

    .nav__list-link {
        font-size: var(--font-size-bold);
        color: var(--White);
    }

    .nav__list-active {
        color: var(--Black);
    }

    .nav__list-title {
        display: block;
    }

    .nav__list-rules {
        display: block;
    }

    .element__active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .element__inner {
        margin-bottom: 0rem;
        left: 58px;
    }

    .element__inner::before {
        top: 188px;
        left: 208px;
    }

    .element__inner::after {
        top: 529px;
        left: -197px;
    }

    .element__block {
        bottom: 165px;
    }

    .element__block-input1 {
        
    }

    .element__block-input2 {
        width: 25.8rem;
    }

    .element__title {
        width: 33.1rem;
        height: 9.563rem;
        left: -48px;
    }

    .element__desc {
        position: relative;
        left: -48px;
        top: 37px;
        width: 325px;
    }

    .myModal__block {
        
    }

    .myModal-content {
        padding: 25px;
    }

    .element__about {
        margin: 0rem;
    }

    .element__about-title {
        font-size: var(--font-size-bold);
    }

    .element__about-text {
        font-size: var(--font-size-semibold);
        margin-bottom: 1rem;
    }

    .search__inner::before {

    }

    .search__inner::after {
        top: 169px;
        left: -95px;
    }
}

@media screen and (max-width: 635px) {
    .header__main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0 2rem 0;
    }

    .header__main-rules {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0 2rem 0;
    }

    .header__nav {
        display: none;
    }

    .element__title {
        font-size: var(--font-size-medium-bold);
        width: 400px;
    }

    .element__item {
        width: 280px;
    }

    .element__desc {
        font-size: var(--font-size-light);
        top: 2px;
        width: 280px;
        margin-top: 0rem;
    }

    .menu__btn {
        display: none;
    }

    .nav__list {
        display: none;
    }

    .header__sign {
        display: none;
    }

    .element__active {
        gap: 9rem;
    }

    .element__inner {
        left: 125px;
    }

    .element__inner::before {
        top: 99px;
        left: 145px;
    }

    .element__inner::after {
        top: 418px;
        left: -218px;
    }

    .search__inner::before {

    }

    .search__inner::after {
        top: 169px;
        left: -95px;
    }

    .element__about-title {
        font-size: var(--font-size-medium);
    }

    .element__about-text {
        font-size: var(--font-size-medium);
    }

    .element__block-calc-img1 {
        height: 36px;
    }

    .section__content {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        position: relative;
        margin-top: 20rem;
    }

    .header__sign-alt {
        display: none;
    }   

    .button__sign-alt {

    }

}

@media screen and (max-width: 575px) {
    .header__main {
        margin: 2.87rem 0 2rem 0;
    }

    .element__inner {
        left: 75px;
    }

    .element__inner::before {
        top: 102px;
        left: 128px;
    }

    .element__inner::after {
        top: 420px;
        left: -200px;
    }

    .element__table-payment {
        font-size: var(--font-size-medium);
    }

    .element__text {
    }

    .modal__text {
        font-size: var(--font-size-medium);
    }

    .element__header {
        font-size: var(--font-size-medium);
    }

    .modal__header {
        font-size: var(--font-size-medium);
    }

    .search__title {
    }

    .search-desc {
    }

    .modal__text-sm {
        font-size: var(--font-size-light);
    }

    .element__title {
        width: 21.1rem;
        height: 6.6rem;
        left: 11px;
    }

    .element__desc {
        left: 11px;
        width: 255px;
        top: 42px;
    }

    .element__block {
        
    }

    .element__payment {
        left: 9px;
    }

    .element__container {
        width: 26.7rem;
    }

    .element__block-input {
    }

    .element__block-input1 {
        width: 23.8rem;
    }

    .element__block-input2 {
        width: 23.8rem;
    }

    .element__block-btn {
        padding: 1.44rem 4.7rem;
    }

    .modal {
        left: 9px;
    }

    .modal__container {
        width: 26.7rem;
    }

    .myModal__block {
        top: -20px;
    }

    .modal__btn {
        padding: 1.44rem 5.5rem;
    }

    .search__inner {
        left: 1px;
    }

    .search__inner::before {
        left: 216px;
        top: -131px;
    }

    .search__inner::after {
        top: 169px;
        left: -95px;
    }

    .search__main {
        width: 26.75rem;
    }

    .section__text {
        font-size: var(--font-size-semibold);
    }

    .section__text-alt {
        font-size: var(--font-size-semibold);
        width: 12rem;
        height: 7.5rem;
    }

    .section__text-alt::before {
        top: -219px;
        left: -29px;
    }

    .section__text-alt::after {
        top: -124px;
        left: 54px;
    }
}

@media screen and (max-width: 485px) {
    .element__block {
        width: 25.688rem;
        height: 26.8rem;
    }

    .element__block-input {
        width: 22.8rem;
    }

    .element__block-input1 {
        
    }

    .element__block-input2 {
        width: 23.8rem;
    }
}

@media screen and (max-width: 470px) {
    .element__payment {
        left: 9px;
    }

    .element__inner {
        left: 70px;
    }
    
    .element__inner::after {
        width: 255px;
        top: 407px;
        left: -181px;
    }

    .element__inner::before {
        top: 94px;
        left: 123px;
    }

    .element__title {

    }

    .element__desc {

    }

    .element__container {
        width: 26.7rem;
    }

    .element__block {
        width: 25.688rem;
        height: 26.8rem;
    }

    .element__block-input {
        width: 22.8rem;
    }

    .element__block-input1 {
        
    }

    .element__block-input2 {
        width: 23.8rem;
    }

    .modal__container {
        width: 26.7rem;
    }

    .element__about-title {
        font-size: var(--font-size-semibold)
    }

    .element__about-text {
        font-size: var(--font-size-light);
    }

    .search__main {
        width: 26.75rem;
    }

    .ldio-y2qd67vplzk {
        left: -13px;
    }

    .search__inner {
        left: 1px;
    }

    .search__inner::before {
        left: 228px;
        top: -141px;
    }

    .search__inner::after {
        top: 169px;
        left: -95px;
    }

    .modal__btn {
        padding: 1.44rem 4rem;
    }

}

@media screen and (max-width: 435px) {
    .element__block {
        width: 24.688rem;
    }

    .element__inner {
        left: 50px;
    }

    .element__inner::before {
        top: 95px;
        left: 144px;
    }

    .element__inner::after {
        top: 406px;
        left: -166px;
    }

    .element__block-input {
        width: 21.8rem;
    }

    .element__container {
        width: 24.7rem;
    }

    .element__title {
        left: 34px;
    }

    .element__item {
        width: 190px;
    }

    .element__desc {
        left: 34px;
        
    }

    .element__block-btn {
        padding: 1.44rem 5.7rem;
        font-size: var(--font-size-medium);
    }

    .modal__btn {
        font-size: var(--font-size-medium);
        padding: 1.44rem 5rem;
    }

    .element__block-input1 {
        width: 21.8rem;
    }

    .element__block-input2 {
        width: 21.8rem;
    }

    .modal__container {
        width: 24.7rem;
    }

    .element__about-title {
        font-size: var(--font-size-semibold)
    }
    .element__about-text {
        font-size: var(--font-size-light);
    }

    .search__main {
        width: 24.75rem;
    }

    .loadingio-spinner-rolling-voddzivpsa {
        left: 90px;
    }

    .ldio-y2qd67vplzk {
        left: 17px;
    }

    .myModal__block {
        width: 24.688rem;
    }

    .search__inner::before {
        left: 178px;
        top: -124px;
    }

    .search__inner::after {
        top: 169px;
        left: -95px;
    }
}

@media screen and (max-width: 415px) {
    .element__block {
        width: 23.688rem;
    }

    .element__block-input {
        width: 21.8rem;
    }

    .element__inner {
        left: 50px;
    }

    .element__inner::before {
        top: 95px;
        left: 144px;
    }

    .element__inner::after {
        top: 421px;
        left: -188px;
    }

    .element__title {
        left: 34px;
    }

    .element__desc {
        left: 34px;
    }

    .element__container {
        width: 23.7rem;
    }

    .element__block-input {
        width: 20.8rem;
    }

    .element__block-input1 {
        
    }

    .element__block-input2 {
        width: 21.8rem;
    }

    .modal__container {
        width: 23.7rem;
    }

    .search__main {
        width: 23.75rem;
    }

    .loadingio-spinner-rolling-voddzivpsa {
        left: 80px;
    }

    .search__inner::before {
        left: 189px;
        top: -141px;
    }

    .search__inner::after {
        top: 169px;
        left: -95px;
    }
}

@media screen and (max-width: 395px) {
    .element__block {
        width: 20.5rem;
    }

    .element__active {
        
    }

    .element__block-header {
        gap: 8rem;
    }

    .element__inner {
        left: 85px;
    }

    .element__block {
        bottom: 200px;
    }

    .nav__list-title {
        font-size: var(--font-size-medium);
    }

    .element__block-input {
        width: 17.8rem;
    }

    .element__block-input1 {
        width: 18.8rem;
    }

    .element__block-input2 {
        width: 17.8rem;
    }

    .element__inner::before {
        top: 80px;
        left: 78px;
    }

    .element__inner::after {
        top: 383px;
        left: -141px;
    }

    .element__title {
    }

    .element__desc {
    }

    .element__container {
        width: 20.5rem;
        height: 39.8rem;
    }

    .element__payment::after {
        top: -251px;
        left: -241px;
    }

    .element__payment::before {

    }

    .myModal__block {
        width: 21.688rem;
        top: 5px;
    }

    .element__title {
        left: 20px;
        height: 2rem;
        font-size: var(--font-size-light-bold);
        width: 16.1rem;
    }

    .element__item {
        width: 265px;
    }

    .element__desc {
        left: 20px;
        top: 35px;
        height: 2rem;
        margin-top: 2rem;
        width: 185px;
    }

    .modal__container {
        width: 20.5rem;
        height: 52.8rem;
    }

    .search__main {
        width: 20.75rem;
    }

    .ldio-y2qd67vplzk {
        left: 5px;
    }

    .element__block-btn {
        padding: 1.44rem 4rem;
        font-size: var(--font-size-medium);
    }

    .modal__btn {
        padding: 1.44rem 4rem;
    }

    .search__inner::before {
        left: 123px;
        top: -120px;
    }

    .search__inner::after {
        top: 169px;
        left: -95px;
    }
}

@media screen and (max-width: 375px) {
    .element__inner {
        left: 85px;
        height: 180px;
    }

    .element__inner::after {
        left: -161px;
        top: 370px;
    }

    .element__inner::before {
        left: 86px;
        top: 51px;
    }

    .header__inner {
        margin-bottom: 2rem;
    }

    .header__table-link {
        gap: 9rem;
    }

    .header__table {
        width: 20.5rem;
        position: relative;
        left: 14px;
    }

    .header__table-alt {
        width: 20.8rem;
        height: 46rem;
        left: 10px;
        top: -5px;
    }

    .bitcoin__logo, 
    .tether__logo {
        padding: 0;
        position: relative;
        left: 13px;
    }

    .header__table-wallet {
        padding: 0rem 1.2rem;
    }

    .header__table-bitcoin,
    .header__table-tether,
    .header__table-network,
    .header__table-wallets {
        width: 19rem;
        position: relative;
        left: -3px;
    }

    .bitcoin__info,
    .tether__info {
        position: relative;
        left: -20px;
    }

    .header__table-payment,
    .header__table-paid {
        padding: 1.44rem 5rem;
    }

    .header__context::after {
        top: 101px;
        left: 228px;
    }

    .header__context::before {
        top: 263px;
        right: 248px;
    }

    .info__textred {
        font-size: var(--font-size-light);
    }

    .info__textsilver {
        font-size: var(--font-size-light);
    }

    .section__text-alt {
        padding-top: 170px;
    }

    .sign-desc {
        font-size: var(--font-size-bold);
    }

    .element__active {
        gap: 0rem;
    }

    .element__block-btn {
        padding: 1.44rem 4rem;
        font-size: var(--font-size-medium);
    }

    .modal__btn {
        padding: 1.44rem 4rem;
    }

    .element__block {
        width: 20.5rem;
        height: 26.8rem;
        bottom: 0px;
    }

    .element__block-calc-in {
        position: relative;
        margin-right: 0px;
        width: 100%;
    }

    .element__block-calc-img {
        right: 49px;
    }

    .myModal-content {
        padding: 17px;
    }

    .element__payment {
        top: 5px;
    }

    .element__payment::after {
        top: -251px;
        left: -241px;
    }

    .element__payment::before {
        
    }

    .modal {
        top: -105px;
    }

    .modal::after {
        top: -367px;
        left: -227px;
    }

    .modal::before {
        top: -90px;
        right: -110px;
    }

    .modal__container {
        width: 20.5rem;
        height: 53.8rem;
    }

    .element__block-calc-img1 {
        left: -52px;
    }

    .modal__label1 {
        right: 18px;
    }

    .modal__label2 {
        right: 18px;
    }

    .search__main {
        width: 20.7rem;
        height: 24.6rem;
    }

    .search__inner::after {
        top: 169px;
        left: -95px;
    }

    .search__inner::after {
        top: 177px;
        left: -112px;
    }

    .search__title {
        padding: 2rem 0rem 2rem 0rem;
    }

    .search-desc {
        font-size: var(--font-size-medium);
    }

    .ldio-y2qd67vplzk {
        left: -13px;
    }

    .section__text-alt {
        top: -156px;
    }

    .section__text-alt::before {
        top: -56px;
        left: -38px;
    }

    .section__text-alt::after {
        top: 48px;
        left: 54px;
    }
}

@media screen and (max-width: 360px) {
    .myModal__block {
        width: 21.5rem;
    }

    .element__block-input1 {

    }
}

@media screen and (max-width: 345px) {
    .element__block {
        width: 19.5rem;
        height: 26.8rem;
        bottom: 0px;
    }

    .element__block-input {
        width: 16.8rem;
    }

    .element__block-input1 {
        width: 17.8rem;
    }

    .element__block-input2 {
        width: 16.8rem;
    }

    .search__main {
        width: 19.7rem;
        height: 24.6rem;
    }

    .myModal__block {
        width: 20.5rem;
    }

    .element__block-btn {
        padding: 1.44rem 3rem;
    }

    .modal__btn {
        padding: 1.44rem 3rem;
    }
}

@media screen and (max-width: 335px) {
    .myModal__block {
        width: 19.5rem;
    }

    .element__block-input1 {
        width: 16.8rem;
    }
}

@media screen and (max-width: 320px) {
    .element__block {
        width: 18.5rem;
        height: 26.8rem;
        bottom: 0px;
    }

    .element__block-input {
        width: 15.8rem;
    }

    .element__block-input1 {

    }

    .element__block-input2 {
        width: 15.8rem;
    }

    .element__container {
        width: 18.5rem;
    }

    .section__text::after {
        top: -113px;
        left: 107px;
    }
}
