@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Medium.woff2') format('woff2'),
            url('../font/SFProDisplay-Medium.woff') format('woff');
    
    font-weight: 500; 
    font-style: normal; 
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Bold.woff2') format('woff2'),
            url('../font/SFProDisplay-Bold.woff') format('woff');

    font-weight: 700; 
    font-style: normal; 
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFProDisplay-Semibold.woff2') format('woff2'),
            url('../font/SFProDisplay-Semibold.woff') format('woff');
    
    font-weight: 600; 
    font-style: normal; 
}